
:root {
    --textblack: #212427;
    --clr_dark4: #313131;
    --clr_dark3: #616161;
    --clr_dark2: #919191;
    --clr_dark1: #c2c2c2;
    --clr_light3: #e4e4e4;
    --clr_light2: #ececec;
    --clr_light1: #f5f5f7;
    --mob_gw: 428px;
    --mob_sw: 360px;
}

*:focus {
    outline: none;
}

body {
    background-color: var(--clr_light1);
    color: var(--clr_dark3);
    font-family: 'Open Sans';
}

.main-screen {
    background-color: white;
    height: 80%;
    width: 50%;
    min-width: var(--mob_gw);
    max-width: var(--mob_gw);
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    border-radius: 20px;
    /* border: 1px solid green; */

    overflow-y: hidden;
}

.main-screen > .top-bar {
    /* border: 1px solid blue; */
    position: fixed;
    width: 100%;
    border-radius: 20px;
}

.main-screen > .top-bar > .explore-bar {
    text-align: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 1em;
    
    display: flex;
    justify-content: space-between;
}

.main-screen > .top-bar > .search-bar > .search-area{
    margin-left: 50%;
    transform: translate(-50%);
    width: 55%;
    min-width: 233px;
    text-align: center;
    display: flex;
    justify-content:space-evenly;
    background-color: var(--clr_light1);
    border-radius: 5px;
    font-size: 0.8em;
    padding: 0.4em 0 0.4em 0;
}

input {
    background-color: inherit;
    border: none;
    outline: none;
    color: inherit;
    /* padding: 0 0em 0 0em; */
    font-size: 1em;
}

.main-content {
    font-size:0.9em;
    padding: 1em;
    margin-top: 7.3em;
    background-color: inherit;
    
    /* border: 1px solid red ; */
    border-radius: 20px;
    
    height: inherit;
    max-height: 79%;

    overflow-y: scroll;
}

.main-content > .title {
    color: var(--clr_dark3);
}

.main-content > .sector-card {
    margin-top: 1.2em;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);
    padding: 0.5em;
    display: flex;
    border-radius: 10px;
    min-height: 3em;
    transition: box-shadow 0.5s ease-out;
}

.main-content > .sector-card:hover {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
    transition: box-shadow 0.5s ease-out;

}

.main-content > .sector-card > .sec-img {
    background: url('res/34.jpg');
    /* border: 1px solid red; */
    border-radius: 10px;
    min-width: 20%;
    background-size: cover;
    background-repeat: no-repeat;
}

.main-content > .sector-card > .sec-content {
    margin-left: 1em;
    display: flex;
    flex-direction: column;
    
}

.main-content > .sector-card > .sec-content > div:nth-child(1) {
    /* border: 1px solid blue; */
    font-size: 0.9em;
}

.main-content > .sector-card > .sec-content > div:nth-child(2) {
    /* border: 1px solid green; */
    font-size: 0.7em;
    color: var(--clr_dark2);
    font-style: italic;
}

@media (max-width: 500px) {
    
    body {
        background-color: var(--clr_dark4);
        color: var(--clr_light3);
    }

    .main-screen {
        background-color: inherit;
        height: 100%;
        width: 100%;
        min-width: var(--mob_sw);

        top:0;
        left:0;
        transform: translate(0,0);

        border-radius: 0;
        overflow-y: auto;
    }
    
    .main-screen > .top-bar > .explore-bar {
        text-align: center;
        border-radius: 0;
    }
    
    .main-screen > .top-bar > .search-bar > .search-area{
        background-color: var(--clr_dark3);
        color: var(--clr_dark2);
    }

    .main-content {
        background-color: inherit;
    }

    .main-content > .title {
        color: var(--clr_light2);
    }

    .main-content > .sector-card {
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    }

    .main-content > .sector-card:hover {
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
        transition: box-shadow 0.5s ease-out;
    
    }
    

}